.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  text-align: center;

  @include desktop {
    display: flex;
    align-items: baseline;
  }

  @include desktop {
    text-align: left;
  }
}

.footer__logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;
}

.tablet-container {
  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
