.header {
  border: 1px solid #ececec;

  > .container {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  margin-left: 93px;
  display: none;

  @include tablet {
    display: flex;
  }
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header__contact-list {
  display: none;

  @include tablet {
    display: block;
    margin-left: auto;
  }

  @include desktop {
    display: flex;
    margin-left: auto;
  }
}

.header__nav-link {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__contact-link {
  @include font(500, 12px, 1.16, 0.02em);
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14px, 1.14, 0.02em);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.tabtel-mail {
  @media screen and (max-width: 1199px) {
    padding-top: 21px;
  }
}

.tabtel-tel {
  @media screen and (max-width: 1199px) {
    margin-top: 10px;
    padding-bottom: 21px;
  }
}

.header__contact-icon {
  margin-right: 8px;
  @include desktop {
    margin-right: 10px;
  }
  fill: currentColor;
}

.header__contact-icon1 {
  width: 14px;
  height: 10px;

  @include desktop {
    width: 16px;
    height: 12px;
  }
}

.header__contact-icon2 {
  width: 10px;
  height: 14px;

  @include desktop {
    width: 12px;
    height: 16px;
  }
}

.header__contact-item:last-child {
  @include desktop {
    margin-left: 50px;
  }
}

.current {
  color: var(--accent-color);

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
