.footer-form {
  margin-top: 60px;

  @include desktop {
    margin-left: auto;
    margin-top: 0;
  }
}

.footer-form__text {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  @include font(null, 16px, 1.25, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    width: 450px;
  }

  @include desktop {
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }
}

.footer-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  @include tablet {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    display: inline-flex;
    margin-left: 12px;
    margin-top: 0;
  }

  &::after {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../img/iconsend.svg);
    background-size: contain;
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #188ce8;
  }
}
