.join {
  width: 206px;
  margin-left: 70px;
}

.join__title {
  font-family: $font-main;
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--secondary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
