.menu-btn {
  display: block;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.menu-open-btn {
  @include tablet {
    display: none;
  }
}

.menu-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .menu-btn:hover &,
  .menu-btn:focus & {
    fill: var(--accent-color);
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;

  @include tablet {
    display: none;
  }
}

.menu__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.menu__link {
  @include font(500, 40px, 1.17, 0.02em);
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current-mob {
  color: var(--accent-color);
}

.menu__contact-list {
  margin-bottom: 64px;
}

.menu__contact-item:first-child {
  margin-bottom: 32px;
}

.menu__contact-tel {
  @include font(500, 26px, 1.17, 0.02em);

  @include mobile {
    @include font(500, 34px, 1.17, 0.02em);
  }
  color: var(--accent-color);
}

.menu__contact-mail {
  @include font(500, 24px, 1.16, 0.02em);
  color: var(--text-color);
}

.menu__soc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu__soc-item {
  @media screen and (max-width: 440px) {
    margin-bottom: 8px;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.menu__soc-link {
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--accent-color);
}
