.modal__title {
  @include font(700, 19px, 1.15, 0.03em);
  text-align: center;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field:not(:first-child) {
  margin-top: 10px;
}

.modal-form__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
    cursor: pointer;
  }
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + &,
  .modal-form__input:hover + & {
    fill: var(--accent-color);
  }
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  @include font(null, 12px, 1.16, 0.01em);
  color: var(--text-color);
}

.modal-form__field-area {
  margin-top: 10px;
}

.modal-form__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__field-check {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-form__check-text {
  @include font(null, 14px, 1.71, 0.03em);
  color: var(--text-color);
  display: flex;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::before {
    border-color: var(--accent-color);
  }

  .modal-form__input-check:focus + &::before {
    border-color: var(--accent-color);
  }

  .modal-form__input-check:checked + &:before {
    background-image: url(../img/check.svg);
    background-size: contain;
    border: none;
  }
}

.modal-form__link {
  text-decoration: none;
  @include font(null, 14px, 1.71, 0.03em);
  color: var(--accent-color);
  margin-left: 3px;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 4px;
    left: 0;
  }
}

.modal-form__btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: #188ce8;
  }
}
