.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;

  padding: 15px 8px;
  overflow-y: scroll;
}

.modal {
  // height: 100%;
  padding: 25px;
  position: relative;

  @include mobile {
    width: 450px;
    height: 609px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: 300ms;
  }

  @include desktop {
    width: 528px;
    height: 581px;
  }

  background-color: var(--secondary-color);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  justify-content: center;
  align-items: center;
  outline: transparent;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.modal__close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}
